// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// COLORS
// -----------------------------------------------------------------------------

$text: rgb(51,51,51) !default;
$background: rgb(250,250,250) !default;
$brand-color: rgb(0,153,0) !default;
$dark-grey: rgb(102,102,102) !default;
$grey: rgb(229,229,229) !default;
$white: rgb(255,255,255) !default;

// Colors for code-snippets
$comment: tint($dark-grey,30) !default;
$punctuation: tint($dark-grey,15) !default;
$property: rgb(229,107,11) !default;
$selector: $brand-color !default;
$operator: rgb(102,50,10) !default;
$operator-background: hsla(0,0%,100%,.5) !default;
$function: rgb(44,17,166) !default;
$regex: rgb(102,50,10) !default;


// -----------------------------------------------------------------------------
// METRICS
// -----------------------------------------------------------------------------

$border-radius: 3px;
$single-space: 0.35em;

$base-font-size: 16px;

// -----------------------------------------------------------------------------
// BREAKPOINTS
// -----------------------------------------------------------------------------

$small: 416px;
$medium: 656px;
$large: 800px;
