// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@font-face {
  font-family: Source Sans Pro Semibold;
  src:
    url(./assets/fonts/SourceSansPro-Semibold-subset.woff2) format("woff2"),
    url(./assets/fonts/SourceSansPro-Semibold-subset.woff) format("woff");
  unicode-range: U+A,U+20-5B,U+5D,U+5F,U+61-7E,U+A0,U+A9,U+AB,U+AD,U+B7,U+BB,U+C4,U+C7,U+D6,U+D7,U+DC,U+DF,U+E4,U+E9,U+F6,U+FC,U+2013,U+2014,U+2019,U+201C-201E,U+2026,U+2033,U+2039,U+203A,U+2192,U+21E7,U+2318,U+F8FF;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Source Sans Pro Regular;
  src:
    url(./assets/fonts/SourceSansPro-Regular-subset.woff2) format("woff2"),
    url(./assets/fonts/SourceSansPro-Regular-subset.woff) format("woff");
  unicode-range: U+A,U+20-5B,U+5D,U+5F,U+61-7E,U+A0,U+A9,U+AB,U+AD,U+B7,U+BB,U+C4,U+C7,U+D6,U+D7,U+DC,U+DF,U+E4,U+E9,U+F6,U+FC,U+2013,U+2014,U+2019,U+201C-201E,U+2026,U+2033,U+2039,U+203A,U+2192,U+21E7,U+2318,U+F8FF;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Source Sans Pro Italic;
  src:
    url(./assets/fonts/SourceSansPro-It-subset.woff2) format("woff2"),
    url(./assets/fonts/SourceSansPro-It-subset.woff) format("woff");
  unicode-range: U+A,U+20-5B,U+5D,U+5F,U+61-7E,U+A0,U+A9,U+AB,U+AD,U+B7,U+BB,U+C4,U+C7,U+D6,U+D7,U+DC,U+DF,U+E4,U+E9,U+F6,U+FC,U+2013,U+2014,U+2019,U+201C-201E,U+2026,U+2033,U+2039,U+203A,U+2192,U+21E7,U+2318,U+F8FF;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Source Code Pro Regular;
  src:
    url(./assets/fonts/SourceCodePro-Regular-subset.woff2) format("woff2"),
    url(./assets/fonts/SourceCodePro-Regular-subset.woff) format("woff");
  unicode-range: U+A,U+20-5B,U+5D,U+5F,U+61-7E,U+A0,U+A9,U+AB,U+AD,U+B7,U+BB,U+C4,U+C7,U+D6,U+D7,U+DC,U+DF,U+E4,U+E9,U+F6,U+FC,U+2013,U+2014,U+2019,U+201C-201E,U+2026,U+2033,U+2039,U+203A,U+2192,U+21E7,U+2318,U+F8FF;
  font-weight: normal;
  font-style: normal;
}
